p {color: purple;}
span { color:white;background-color:white;}
.crveni {color:red;}
span border: 2px solid black
span padding: 10px
span margin: 10px
font-family: Arial, Helvetica, sans-serif
font-size: 14px
line-height: 16px
